@font-face {
    font-family: 'yazi';
    src: url('../fonts/eFootballSans-Regular.ttf') format('truetype'); 
}
@font-face {
    font-family: 'numara';
    src: url('../fonts/eFootballStencil-Regular.ttf') format('truetype'); 
}

